@tailwind base;
@tailwind components;
@tailwind utilities;




/* width */
::-webkit-scrollbar {
    width: 5px;
    max-height: 4px;
  }
  ::-webkit-scrollbar:hover {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px grey;
    border-radius: 9px;
    transition: 2ms, all, ease;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #05b4e1;
    width: 10px;
  }


  .date-picker-input {
    padding: 6px 5px  ;
    width: 100%;
    border: 1px solid #a8a8a8ae;
    font-size: small;

  }

  .date-picker-input:focus-visible {
    outline: none;
    border: 1px solid #4ea5f6d8;
    z-index: 1;
    transition: all 0.25s;
    box-shadow: 0 0 0.5px 0.5px;
    
  }



  /* receipt css  */


  .receipt-body {
      font-family: Arial, sans-serif;
      border: 2px solid rgba(199, 222, 183, 0.563);
      padding: 12px;
  }
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  }
  .logo {
      width: 100px;
  }
  .school-details {
      text-align: center;
      line-height: 3px;
  }
  .fees-table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
  }
  th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
  }
  th {
      background-color: #f2f2f2;
  }
  .total-row {
      font-weight: bold;
  }
  .signature {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }